h2 {
    padding: 0.75em 1em;
    font-size: 1.5em;
    color: #363636;
    border-radius: 6px;
    background-color: #eee;
}

h2 .icon {
    margin-right: 0.5em;
}

.cards {
    margin-bottom: 2rem;
}

.card {
    width: 100%;
}

.card-name, .card-type {
    width: 100%;
}

.card-type {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}

.message-body {
    font-size: 0.75rem;
}

.message-footer {
    width: 100%;
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    padding: 0.5rem 0;
}

.hide {
    display: none;
}

.icons {
    margin-right: 0.5em;
}

.icon.mana .mana-red {
    color: red;
}

.icon.mana .mana-green {
    color: green;
}

.icon.mana .mana-white {
    color: white;
}

.icon.mana .mana-black {
    color: black;
}

.icon.mana .mana-blue {
    color: blue;
}

.icon.mana .mana-neutral {
    color: grey;
}
